<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.umeng.count"
    android:versionCode="1"
    android:versionName="1.4" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.umeng.test.TestActivity1"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.umeng.test.TestActivity2" />
        <activity android:name="com.umeng.test.TestActivity3" />
        <activity android:name="com.umeng.test.TestActivity4" />
        <activity android:name="com.umeng.test.TestActivity5" />

        <!-- Umeng -->
        <receiver
            android:name="com.umeng.count.PresentReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="count_action_rotation_newuser" />
                <action android:name="count_action_rotation_odleuser" />
                <action android:name="count_action_end_newuser" />
                <action android:name="count_action_end_odleuser" />
            </intent-filter>
        </receiver>

        <!-- All-In-One Toolbox -->
        <!-- <meta-data -->
        <!-- android:name="umeng_key" -->
        <!-- android:value="535f6f3656240beac200b7cc" /> -->


        <!-- Memory Booster -->
        <!-- <meta-data -->
        <!-- android:name="umeng_key" -->
        <!-- android:value="535f7dcb56240beac501290c" /> -->


        <!-- Battery Booster -->
        <!-- <meta-data -->
        <!-- android:name="umeng_key" -->
        <!-- android:value="535f7ef256240beab10151da" /> -->


        <!-- 测试2 -->
        <!-- <meta-data -->
        <!-- android:name="umeng_key" -->
        <!-- android:value="53f5bf90fd98c538f80041a8" /> -->


        <!-- 测试 -->
        <meta-data
            android:name="umeng_key"
            android:value="53f3ffc4fd98c5ff07017771" />
        <meta-data
            android:name="umeng_url"
            android:value="https://s3.amazonaws.com/appmessage121119/memorybooster/test/" />
    </application>

</manifest>